<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBeiNt7LB1A4Z27mkh1Q2JJd3dTk3OpYqU</string>
	<key>GCM_SENDER_ID</key>
	<string>991483925692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappMessenger</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-messengr-386fc</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-messengr-386fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991483925692:ios:73139ea524d20a99002cb9</string>
</dict>
</plist>